name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  pypi_release:
    name: Build with UV and Publish to PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: latest
          enable-cache: true
      - name: Build package
        run: uv build --wheel
      - name: Publish package
        run: uv publish
