name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  pypi_release:
    name: Build with Poetry and Publish to PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Install and configure Poetry
        run: |
          pip install poetry
          poetry config pypi-token.pypi "${{ secrets.PYPI_TOKEN }}"
      - name: Publish package
        run: poetry publish --build
